* , body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}
body {    
    background-color: #FCDDBC;
}
header {
    background: linear-gradient(90deg, #FCDDBC , #EF959D, #456979);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}
header div{
    justify-content: center;
    width: 33%;
    display: flex;
    justify-content: center;
}
header .midias {
    display: block;
}
header .midias div {
    width: 100%;
    justify-content: flex-start;
}
header .midias img {
    width: 2rem;
    height: 2rem;
}
header .midias a {
    margin: 0.1rem 0.3rem;
}
header .midias p {
    margin-left: 0.3rem;
    font-weight: 500;
    color: #456979;
}
#logoCentral img {
    height: 72px;
    margin: 8px 0px 0px 0px;
}
#terceiradivdoheader {
    display: flex;
    justify-content: flex-end;
}
.menu {
    display: flex;
}
.menu ul, li {
    list-style: none;
    font-size: 1.2rem;
}
header nav a {
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}
header nav a:hover {
    text-decoration: none;
    color: #FCDDBC;
}
.menu li {
    margin-left: 1rem;
}

/* main */
main {
    max-width: 764px;
    margin: 0 auto;
}
main div {
    display: flex;
    margin: 1rem 0;
    background-color: white;
    padding: 1rem;
    border: 1px dashed rebeccapurple;
}
.paragrafos {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0px;
    margin: 0 0 1rem 0;
}
.paragrafos p {
    margin: 1rem 0 0 0;
}
main div img {
    margin-right: 1rem;
    border-radius: 5px;
    max-width: 150px;
    object-fit: contain;
}
main div p {    
    text-align: initial;
    text-indent: 3rem;
}

/* footer */

footer {
    color: #ffffff;
    background-color: #456979;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.entreemcontato {
    display: none;
}
footer #logoCentral img {
    filter: invert(1);
}
footer .enderecos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer i {
    color: #EF959D;
}
footer span {
    padding: 10px;
}

@media (max-width: 1023px) {
    header nav a {
        font-size: 0.9rem;
    }
    .menu {
        align-items: center;
    }
    footer {
        position: unset;
        flex-wrap: nowrap;
    }
    .enderecos label {
        display: none;
    }
    .enderecos {
        font-size: 0.9rem;
    }
    footer span {
        padding: 0;
    }
}
@media (max-width: 425px) {
    header div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    header .midias {
        display: none;
    }
    #terceiradivdoheader {
        margin: 0.5rem;
        justify-content: center;
    }    
    .menu {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .menu li {
        margin: 0 1rem;
    }

    /* main */

    main div img {
        display: none;
    }
    #eliana {
        display: block;
    }
    /* footer */

    footer {
        justify-content: center;
        padding: 1rem;
        position: static;
        flex-wrap: wrap;
    }
    .entreemcontato {
        display: block;
    }
    footer #logoCentral img {
        margin: 0px;
    }
    footer .enderecos {
        color: #FCDDBC;
        font-size: 0.7rem;
    }
    footer p {
        margin-top: 1rem;
        font-size: 0.8rem;
    }
    footer p:last-child {
        margin-bottom: 1rem;
    }
}