* , body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}
body {    
    background-color: #FCDDBC;
}
header {
    background: linear-gradient(90deg, #FCDDBC , #EF959D, #456979);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}
header div{
    justify-content: center;
    width: 33%;
    display: flex;
    justify-content: center;
}
header .midias {
    display: block;
}
header .midias div {
    width: 100%;
    justify-content: flex-start;
}
header .midias img {
    width: 2rem;
    height: 2rem;
}
header .midias a {
    margin: 0.1rem 0.3rem;
}
header .midias p {
    margin-left: 0.3rem;
    font-weight: 500;
    color: #456979;
}
#logoCentral img {
    height: 72px;
    margin: 8px 0px 0px 0px;
}
#terceiradivdoheader {
    display: flex;
    justify-content: flex-end;
}
.menu {
    display: flex;
}
.menu ul, li {
    list-style: none;
    font-size: 1.2rem;
}
header nav a {
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}
header nav a:hover {
    text-decoration: none;
    color: #FCDDBC;
}
.menu li {
    margin-left: 1rem;
}

/* main */
  
h1 {
    color: #456979;
    display: flex;
    justify-content: center;
}
h2 {
    color: #456979;
    display: flex;
    justify-content: center;
}
main div {
    display: flex;
    justify-content: center;
}
form {
    font-size: 1rem;
    background-color: #456979;
    max-width: 500px;
    border-radius: 0.5rem;
}
form p {
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: bold;    
    display: flex;
    justify-content: center;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
}
input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000000;
    color: #000000;
    font-weight: bold;
}
.enviar {
    background-color: #EF959D;
    height: 2.5rem;
    width: 100px;
    border-radius: 5px;
    border: 1px solid;
    color: black;
    margin: 10px 0 20px 20px;
}
textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}
form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

/* rodapé */

footer {
    color: #ffffff;
    background-color: #456979;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
footer .enderecos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer i {
    color: #EF959D;
}
footer span {
    padding: 10px;
}
@media (max-width: 600px) {
    header div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    header .midias {
        display: none;
    }
    #terceiradivdoheader {
        margin: 0.5rem;
    }
    .menu {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .menu li {
        margin: 0 1rem;
    }

    /* main */

    main span {
        margin: 0 0.5rem;
    }
    h1 {
        font-size: 1.5rem;
        margin: 2rem 0;
    }
    h2 {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    #segundoh2, #formulario {
        display: none;
    }

    /* footer */

    footer {
        justify-content: center;
        padding: 1rem;
        position: absolute;
        bottom: 0;
    }
    footer #logoCentral img {
        margin: 0px;
        filter: invert(1);
    }
    footer .enderecos {
        color: #FCDDBC;
        font-size: 0.7rem;
    }
    footer p {
        margin-top: 1rem;
    }
    footer p:last-child {
        margin-bottom: 1rem;
    }
}